In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('NOFLAG.csv', encoding='latin1')

In [6]:
-- 2
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [8]:
df_2017 = df[df['Y2017'] == 2017]

In [9]:
grouped = df_2017.groupby('Element')

In [12]:
sum_processing_2017 = grouped['Y2017'].sum()

In [15]:
print('sum_processing_2017')

sum_processing_2017

In [16]:
-- 3

y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]

In [17]:
print(x)

8

In [18]:
--6
import pandas as pd

In [19]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

In [20]:
df = pd.DataFrame(lst, columns=col)

In [21]:
print(df)

   Age Nationality  Overall
0   35    Portugal       94
1   33   Argentina       93
2   30      Brazil       92

In [22]:
--7
df.shape()

TypeError: 'tuple' object is not callable

In [23]:
--8
df['Y2017'].sum()

KeyError: 'Y2017'

In [24]:
--11 df.iloc[:]

SyntaxError: invalid syntax (1133972511.py, line 1)

In [26]:
-- 19

S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'